@import "tailwindcss";
@import "tw-animate-css";
@plugin '@tailwindcss/typography';

@source "../node_modules/streamdown/dist/index.js";

:root {
  color-scheme: dark;

  --toolbar-space: calc(3.375rem + 2rem);

  --primary: #5ec8ff;
  --ground: #181048;

  --text-primary: white;
  --text-secondary: var(--color-slate-400);

  --background-screen: var(--color-slate-800);
  --background-primary: var(--color-slate-800);
  --background-primary-hover: var(--color-slate-500);
  --background-primary-active: var(--color-slate-400);

  --border-default: var(--color-slate-800);
  --border-separator: var(--color-slate-700);
  --border-accent: var(--primary);
}

@layer theme {
  @theme {
    --font-sans: InterVariable, sans-serif;
    --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  @theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-ground: var(--ground);

    --text-color-primary: var(--text-primary);
    --text-color-secondary: var(--text-secondary);

    --background-color-screen: var(--background-screen);
    --background-color-primary: var(--background-primary);
    --background-color-primary-hover: var(--background-primary-hover);
    --background-color-primary-active: var(--background-primary-active);
    --background-color-separator: var(--border-separator);

    --border-color-default: var(--border-default);
    --border-color-separator: var(--border-separator);
    --border-color-accent: var(--border-accent);

    --divide-color-separator: var(--border-separator);

    --ring-color-primary: var(--primary);
  }
}

@utility focus-ring {
  @apply ring-2 ring-primary outline-none;
}
